* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f2833;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header p {
    text-transform: uppercase;
    color: #efbc75;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.buttons-section {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.buttons-section button {
    background-color: #1f2833;
    color: white;
    border: 1px solid white;
    padding: 80px 80px;
    font-size: 24px;
}

.buttons-section button:hover {
    background-color: #efbc75;
    color: #1f2833;
    cursor: pointer;
    border-color: #1f2833;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    color: white;
    background-color: black;
    margin-top: auto;
}

.result-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15%;
    color: white;
    font-size: 24px;
    padding: 20px;
}

.result-section a button {
    padding: 30px;
    background-color: #1f2833;
    color: white;
    border: 1px solid white;
    font-size: 18px;
}

.result-section a button:hover {
    background-color: #efbc75;
    border-color: #1f2833;
    color: black;
}

.result-section a {
    text-decoration: none;
}